<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connectify - Create Post Page</title>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-storage.js"></script>
</head>

<body style="background-color: rgba(82, 82, 82, 0.566);">
    <header>
        <div class="sub-navbar-container">
            <a href="#" class="nav-logo">
                <img src="../images/full-logo.png" alt="">
            </a>

            <ul class="navbar-items">

                <li><a href="/components/home.html" class="colorbtn tooltips" id="togglebtn" onclick="toggle()"><i
                            class="fa-solid fa-house-chimney-user icons"></i>
                        <span class="tooltiptext">Home</span></a></li>
                <li><a href="/components/friends.html" class="colorbtn tooltips" onclick="toggle()"><i
                            class="fa-solid fa-users icons"></i><span class="tooltiptext">Friends</span></a></li>
                <li><a href="/components/createpost.html" class="colorbtn tooltips" onclick="toggle()"
                        style="background-color: rgba(255, 255, 255, 0.164); color: black; border-radius: 5px"><i
                            class="fa-solid fa-square-plus icons"></i><span class="tooltiptext">post</span></a></li>
                <li><a href="/components/video.html" class="colorbtn tooltips" onclick="toggle()"><i
                            class="fa-solid fa-circle-play icons"></i><span class="tooltiptext">Videos</span></a></li>
            </ul>

            <!-- Example single danger button -->
            <div class="profile-container">
                <div class="dropdown-center">
                    <button class="btn btn-primary-outline tooltips dropdownbtncls" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Settings<span class="tooltiptext">Settings</span></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/components/profile.html">Edit Profile</a></li>
                        <div class="dropdown-divider"></div>
                        <li style="cursor: pointer;"><a class="dropdown-item" onclick="logout()">Logout</a></li>
                    </ul>
                </div>

            </div>
            <i class="fa-solid fa-bars" onclick="toggle()" id="menu-icon"></i>

        </div>
    </header>

    <div class="mainpost-container">

        <div class="createpost-container">
            <div class="sub-createpost-container">
                <p class="createposttitle">Create Post</p>
                <div class="main-uploading-content">
                    <textarea name="cptitle" id="cptextarea"
                        style="font-size: 20px; background-color:rgba(0, 0, 0, 0.516);color:white" cols="50" rows="5"
                        placeholder="Add description here..."></textarea>
                    <div class="uploadingcontent">
                        <label for="postfiles" id="imageforpost">Upload image or Video
                            <img src="../images/uploadimg.png" id="uploaddocumenticon" alt="">
                        </label>
                    </div>
                    <input type="file" style="visibility: hidden;" id="postfiles" onchange="uploading(event)">
                    <div class="progress" id="progressdiv" style="display: none;">
                        <div class="progress-bar" role="progressbar" id="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <p id="done" style="color:green;font-size:15px;display:none;"></p>
                    <div id="uploadedmssage">
                        <p style="color: green;font-size: 15px;">Uploaded</p>
                    </div>
                    <div id="submitbutton">
                        <a style="text-decoration: none;" id="createbtn" onclick="createpost()"><i
                                class="fa-solid fa-arrow-up"></i>
                            Post</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

        <script src="../js/navtoggle.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/createpost.js"></script>

</body>

</html>