<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connectify - Forget password</title>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
</head>

<body style="background-color: rgba(82, 82, 82, 0.566);">
    <div class="maincontainer">

        <div class="box-form">
            <div class="left">
                <div class="sub-left">
                    <div class="subtopleft">
                        <div class="logo-cls">
                            <img src="../images/logo.png" alt="">
                            <h2>Connectify</h3>
                        </div>
                    </div>
                    <img src="../images/main-social-anim.png" alt="">
                </div>
            </div>


            <div class="right-container">
                <div class="right">
                    <div class="logo forgot-logo">
                        <span class="logo-img">
                            <img src="../images/logo.png" alt="">
                        </span>
                        <h2>Connectify</h3>
                    </div>
                    <div class="login-content-container-forgot" id="login-content-container-forgot">
                        <h2>Forgot Password</h2>
                        <div class="default-input-size">
                            <label for="forgotpassword" id="forgotpasswordlabel">Email</label>
                            <input type="text" class="form-control" id="forgotpassword" placeholder="Enter your Email">
                        </div>

                        <button class="signup-btn sign-btn" target="_self" type="submit" id="forgetbtn"
                            onclick="reset()">Send
                            mail</button>

                        <img class="or-line-img" src="./images/or-line.png" alt="">
                        <div class="create-acc">
                            <span class="fp-login" id="backtologin" onclick="backtologin()">Back To Sign-in</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="../js/firebase.js"></script>
    <script src="../js/forgetpassword.js"></script>
</body>

</html>